:root {
    /* Colors */
    --branco: #fff;
    --preto: #000;
    --neutral-azul: #5191c1;
    --verde-musgo: #4E5C0A;
    --azul-psicina: #1e6495;
    --azul-mar: #0a4b75;
    --laranja:#C84704;

}

* {
    font-family: Montserrat;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}
